ㅍ@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    .ns{font-family: 'Noto Sans KR', sans-serif;}

* {
  line-height: inherit;
}

.body {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #000000;
  }

table {
  border-collapse: collapse;
  table-layout: fixed;
}

.header {
  margin: 0 auto; 
  max-width: 600px;
  min-width: 320px;
  width: 320px;
  width: calc(28000% - 173000px);
  margin-left: auto;
  margin-right: auto;
}

.layout {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ffffff;
    max-width: 600px;
    min-width: 320px;
    width: 320px;
    width: calc(28000% - 173000px);
}

.one-col {
  float: left;
  min-width: 320px;
  max-width: 600px;
  width: 320px;
  width: calc(28000% - 173000px);
  border: 0;
  margin: 0;
  padding: 0;
}

.two-col {
  float: left;
  min-width: 300px;
  max-width: 320px;
  width: 320px;
  width: calc(11980px - 2000%);
}

@media screen and (min-width: 620px) {
  .layout {
    width: 600px; !important;
  }
  .header {
    width: 600px; !important;
  }
  .column {
    display: table-cell;
  }
  .two-col {
    width: 300px; !important;
  }
  .one-col {
    width: 600px; !important
  }
}

[owa] .header {
  width: 600px; !important;
}

[owa] .layout {
  width: 600px; !important;
}

[owa] .column {
  display: table-cell;
}

[owa] .two-col {
  width: 300px; !important;
}

[owa] .one-col {
  width: 600px; !important
}

.spacing {
  margin: 20px;
}

.two-col .spacing img {
  border: 0;
  height: auto;
  width: 260px;
}

.one-col .spacing img {
  border: 0;
  margin: 0;
  height: auto;
  width: 560px;
}

.logo {
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right:20px;
}

.logo img {
  border: 0; 
  max-width: 200px;
  width: 200px;
}

.month img {
  width: 100%;
  height: auto;
  border-radius: 10%
}

.button table {
  border-collapse: collapse;
  line-height: 100%
}

.button table td {
  background-color: #b4d2e7;
  border-spacing: 10px;
  border-radius: 6px;
  border-style: hidden;
  white-space: nowrap;
  cursor: auto;
  padding: 11px 11px;
}

.button a {
  display: inline-block;
  color:#000000;
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  text-decoration: none;
  margin: 0;
}

.button a:hover, .button a:focus {
  color: #ffffff;
}

.footer {
margin: 50px;
}

.footer p {
padding-top: 50px;
text-align: center;
font-family: Noto Sans, sans-serif;
}

.footer td {
  background-color: blue;
}

.SNS {
  margin: 0 auto;
  max-width: 600px;
  min-width: 320px;
}

.SNS table {
  border-collapse: collapse;
  table-layout: fixed;
}

.SNS table td {
  padding: 0; 
  width: 35px;
}

.SNS a {
  text-decoration: underline;
  transition: opacity 0.1s ease-in;
  color: #8f8f8f;
}

.SNS img {
  border: 0;
  height: 35px;
  width: auto;
}

.copyright {
  font-size: 12px;
  line-height: 19px;
  margin-top: 20px;
  color: white;
  font-family: Noto Sans, sans-serif;
}

.unsubscribe {
  font-size: 12px;
  line-height: 19px;
  margin-top: 18px;
  color: white;
  font-family: Noto Sans, sans-serif;
}

.SNS a:hover, .SNS a:focus {
  opacity: 0.8;
}



